.parent{
    background-color: hsla(200, 100%, 20%);
    height: 400px;
    width: 400px;
}
.child{
    background-color: red;
    height: 50%;
    width: 50%;

   
}
.parent:hover .child{
   
    transform: translateX(100%);
    animation: left-to-right 1s cubic-bezier(0.43,-0.61, 0.54, 2.24) forwards 3 alternate;
}

@keyframes left-to-right{
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateY(100%)
    }
    66%{
        transform: translateX(100%) translateY(100%)
    }
    100%{
        transform: translateX(100%);
    }
}